
/* header styles */
header {
    background-color: #3c43a5;
}

h1 {
    color: azure;
}

/* search styles */
#searchBar {
    align-content: center;
    
}

#searchCity {
    width: 100%;
}

#searchBtn {
    width: 100%;
}

#history {
    border-top: 1px solid gray;
}

.btn-secondary {
    margin: 10px;
    width: 100%;
}
/* daily weather styles */
#dailyWeather {
    border: solid 1px black;
    height: 200px;
}

.daily {
    width: 100%;
    margin-left: 10px;
}

/* 5-day forcast */